* {
    font-family: Arial, Helvetica, sans-serif, Neucha, fantasy, cursive;
    margin: 0;
    box-sizing: content-box;
}

.section1 {
    height: 650px;
    background: url(../assets/background.jpg);
}

#navbar {
    position: relative;
    background: url(../assets/background.jpg);
    height: 60px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: normal;
    margin-left: 50px;
    margin-right: 400px;
}
.navbar-brand:hover {
    transform: scale(1.4);
    font-weight: bolder;
}

.tabs {
    font-family: 'Neucha', cursive;
    text-align: center;
    color: white;
    width: 100px;
    line-height: 25px;
    font-size: large;
    padding: 15px;
    text-decoration: none;
}

.tabs:hover {
    background: url(../assets/background.jpg);
    transition:  0.5s;
    padding: 15px;
    color: violet;
    text-decoration: none;
}

.heading {
    line-height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.heading span {
    line-height: 70px;
}

.location {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

.label, .label-sm {
    position: absolute;
    top: 50%;
    color: #e4eb81;
    pointer-events: none;
    transition: all 0.35s;
}

.label {
    text-align: center;
    width: 500px;
    font-size: 1.25rem;
    transform: translate(0, -50%);
    border-bottom: 2px solid white;
}

input {
    height: inherit;
    width: 20rem;
    border: 0;
    border-bottom: 2px solid #2e2a33;
    outline: none;
    background: transparent;
    color: #f7f7f7;
    font-size: 1rem;
    transition: all 0.35s;
    margin-right: 20px;
}

input:focus {
    border-bottom-color: #1ac0a2;
}

input:focus ~ .label {
    opacity: 0.25;
    transform: translate(0, -50%);
}

input:focus ~ .label-sm {
    opacity: 1;
    transform: translate(0, -50%);
}

